* {
  font-family: "Open Sans";
}
.custom-toggler {
  border-color: rgb(255, 102, 203);
  background-color: blue;
}

body,
html,
.container-fluid {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  max-height: 100%;
}

main {
  max-height: 100%;
  overflow-y: auto;
}
